@import "../../../styles/colors";
@import "../../../styles/vars";
@import "../../../styles/buttons";

.welcome_container{
    background-color: $color-darkBlue;
    color: $color-white;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}