@import "../styles/colors";

.button {
  border: none;
  border-radius: 0.2em;
  width: 18rem;
  height: 3.1rem;
  margin: 0 1rem 0 1rem;
  &_link {
    width: auto;
    padding: 0 15px;
    min-width: 100px;
  }
}

.button-blue {
  color: $color-white;
  background-color: $color-vibrantBlue;
}

.button-blue:hover {
  background-color: $color-mediumBlue;
}

.button-blue:disabled,
.button-blue:disabled:hover {
  background-color: $color-lightGray;
  cursor:not-allowed;
}

.button-gray {
  background-color: $color-gray;
  color: $color-almostWhite2;
}

.button-gray:disabled,
.button-gray:disabled:hover {
  background-color: $color-lightGray;
}

.button-gray:hover {
  background-color: $color-mediumBlue;
}

.button-white {
  background-color: $color-white;
  color: $color-vibrantBlue;
  border: 1px solid $color-vibrantBlue;
}

.button-white:hover {
  background-color: $color-lightGray;
}

.button-border{
  border: 1px solid $color-white;
}
